{% extends 'base.html.twig' %}
{% block body %}
<table class="table">
    <thead class="thead-default">
    <tr>
        <th style="width: 25%;">User</th>
        <th style="width: 25%;">Role</th>
        <th style="width: 25%;">Email</th>
        <th style="width: 25%;">Contact Info.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mary</td>
        <td>Designer</td>
        <td>mary@trivago.com</td>
        <td>1300 88 2525</td>
    </tr>
    </tbody>
</table>
<table class="table">
    <thead class="thead-default">
    <tr>
        <th style="width: 25%;">Ticket No.</th>
        <th style="width: 25%;">Language</th>
        <th style="width: 25%;">Date Created</th>
        <th style="width: 25%;">Date Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th><a href="{{ path('documents_overview') }}">6182</a></th>
        <td>English</td>
        <td>2017/08/30 12:08:02</td>
        <td>Ongoing</td>
    </tr>
    <tr>
        <th>2643</th>
        <td>Chinese</td>
        <td>2017/08/30 12:13:34</td>
        <td>Ongoing</td>
    </tr>
    <tr>
        <th>9567</th>
        <td>Spanish</td>
        <td>2017/08/30 12:15:40</td>
        <td>Ongoing</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead class="thead-default">
    <tr>
        <th style="width: 25%;">Ticket No.</th>
        <th style="width: 25%;">Language</th>
        <th style="width: 25%;">Date Created</th>
        <th style="width: 25%;">Date Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th><a href="{{ path('documents_overview') }}">6182</a></th>
        <td>English</td>
        <td>2017/08/30 12:08:02</td>
        <td>Completed</td>
    </tr>
    <tr>
        <th>2643</th>
        <td>Japanese</td>
        <td>2017/08/30 12:13:34</td>
        <td>Completed</td>
    </tr>
    <tr>
        <th>9567</th>
        <td>Dutch</td>
        <td>2017/08/30 12:15:40</td>
        <td>Completed</td>
    </tr>
    </tbody>
</table>
{% endblock %}