{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Filename</th>
            <th>Date</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
        <tr>
            <th><a href="{{ document.getUrl }}" target="_blank">{{ document.getFilename }}</a></th>
            <td>{{ document.getCreateDate|date("Y-m-d H:i:s") }}</td>
            <td>{{ document.getAuthor }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
