{% extends 'base.html.twig' %}
{% block body %}
    <table class="table data_Table" id="example" >
        <thead>
        <tr>
            <th style="width: 25%;">Filename</th>
            <th style="width: 25%;">Date</th>
            <th style="width: 25%;">User</th>
            <th style="width: 25%;">Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
        <tr>
            <th><a href="{{ document.getUrl() }}" target="_blank">{{ document.getFilename() }}</a></th>
            <td>{{ document.getCreateDate()|date("Y.m.d - H.i") }}</td>
            <td><a href="{{ path('users_overview') }}">---</a></td>
            <td>documents to be</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
