{% extends 'base.html.twig' %}
{% block body %}
<table class="table">
    <thead class="thead-default">
    <tr>
        <th>Task ID</th>
        <th>Date Created</th>
        <th>Date Completed</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>2017/08/30 12:08:02</td>
        <td>Ongoing</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>2017/08/30 12:13:34</td>
        <td>Ongoing</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>2017/08/30 12:15:40</td>
        <td>Ongoing</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead class="thead-default">
    <tr>
        <th>Task ID</th>
        <th>Date Created</th>
        <th>Date Completed</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>2017/08/30 12:08:02</td>
        <td>Completed</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>2017/08/30 12:13:34</td>
        <td>Completed</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>2017/08/30 12:15:40</td>
        <td>Completed</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
{% endblock %}