{% extends 'base.html.twig' %}
{% block body %}
    {{ dump(translatedDocuments) }}
    <table>
        <tr>
            <th style="width: 10%;">Title:</th>
            <td style="width: 30%;">Translation of the tHM PRO Playbook</td>
            <td style="width: 20%;"><b>Date</b>:</td>
            <td style="width: 40%;">2017-05-24 11:19:59</td>
        </tr>
        <tr>
            <td><b>Languages</b>:</td>
            <td>MX,PL,RU,TR</td>
            <td><b>Status</b>:</td>
            <td>Done</td>
        </tr>
        <tr>
            <td><b>Creator</b>:</td>
            <td>Andrew Marcione</td>
            <td><b>Original Document Id</b>:</td>
            <td>470043</td>
        </tr>
        <tr>
            <td><b>Team-members</b>:</td>
            <td>Andrew Marcione,Andrew Marcione,Andrew Marcione,Andrew Marcione</td>
        </tr>
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th style="width: 5%;">Languages</th>
            <th style="width: 40%;">Files</th>
            <th style="width: 20%;">Date</th>
            <th style="width: 15%;">Author</th>
            <th style="width: 20%;">Status bar</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>BR</td>
                <td><a href="#"> DSG-11955_PRO-Playbook_BR_LSO1_MARKEDUP (1).pdf</a></td>
                <td>2017-06-30 13:14:19</td>
                <td>acristovao</td>
                <td>Uploaded</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#"> DSG-11955_PRO-Playbook_BR_LSO1_MARKEDUP (1).pdf</a></td>
                <td>2017-06-30 13:14:19</td>
                <td>acristovao</td>
                <td>Uploaded</td>
            </tr>
            <tr>
                <td>MX</td>
                <td><a href="#"> DSG-11955_PRO-Playbook_MX)_MARKEDUP_fromLSO2.pdf</a></td>
                <td>2017-06-30 13:14:19</td>
                <td>fhuettenhoff</td>
                <td>Uploaded</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#"> DSG-11955_PRO-Playbook_MX)_MARKEDUP_fromLSO2.pdf</a></td>
                <td>2017-06-30 13:14:19</td>
                <td>fhuettenhoff</td>
                <td>Uploaded</td>
            </tr>
        </tbody>
    </table>
{% endblock %}