{% extends 'base.html.twig' %}
{% block body %}
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th style="width: 10%;">Ticket No.</th>
            <th style="width: 20%;">Language</th>
            <th style="width: 20%;">Started On</th>
            <th style="width: 20%;">User</th>
            <th style="width: 30%;">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><a href="{{ path('documents_overview') }}">6182</a></th>
            <td>English</td>
            <td>2017/08/30 12:08:02</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th>2643</th>
            <td>German</td>
            <td>2017/08/30 12:13:34</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th>9567</th>
            <td>French</td>
            <td>2017/08/30 12:15:40</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th style="width: 10%;">Ticket No.</th>
            <th style="width: 20%;">Language</th>
            <th style="width: 20%;">Completed On</th>
            <th style="width: 20%;">User</th>
            <th style="width: 30%;">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><a href="{{ path('documents_overview') }}">6182</a></th>
            <td>English</td>
            <td>2017/08/30 12:08:02</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th>2643</th>
            <td>German</td>
            <td>2017/08/30 12:13:34</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th>9567</th>
            <td>French</td>
            <td>2017/08/30 12:15:40</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
{% endblock %}